<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body { background-color:#1aff1a }
        div {background-color: #DD0000 }
    </style>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${user.name} + '. In your blood you have' + ${promils} + ' promils. Let`s have a beer!! Your state:' + ${user}" />
<a href="javascript:history.back()">DRINK BEER</a>
</body>
</html>

